.header {
  position: fixed;
  top: 0;
  background-color: #fff;
  padding-left: 8pt;
  padding-right: 8pt;
  padding-bottom: 8pt;
  z-index: 50;
  width: calc(100% - 24pt);
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding-bottom: 8pt;
  z-index: 100;
  width: 100%;
}

.detailList {
  padding-top: 64pt;
  padding-left: 8pt;
  padding-right: 8pt;
  padding-bottom: 56pt;
  z-index: -1;
}